.s-slide-all-content {
    display: grid;
    position: relative;
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    padding: 10px 0px 20px 0px;
    grid-template-columns: 1fr 28fr 1fr;
}

.s-slide-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    transition: all 0.5s ease-in-out;
}
.s-title-mini-slide {
    padding: 25px 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.s-title-mini-slide:hover{
    transition: all 0.2s ease-in-out;
    color: #6e55b4;
    cursor:pointer;
}
.s-next-left-mini-slide,.s-next-right-mini-slide{
    position: absolute;
}
.s-next-left-mini-slide{
    top: 180px;
    left: 0px;
}
.s-next-left-mini-slide:hover,.s-next-right-mini-slide:hover{
    transition: all 0.2s ease-in-out;
    background-color: #9e50e7;
}
.s-next-left-mini-slide:hover .s-mini-slides-button,.s-next-right-mini-slide:hover .s-mini-slides-button{
    transition: all 0.2s ease-in-out;
    color: #fff;
}
.s-next-right-mini-slide{
    top: 180px;
    left:1000px;
}
button.s-mini-slides-button{
    width: 25px;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    border: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 22px;
    cursor: pointer;
    outline: none;
    z-index: 5;
}

/*Min slide*/
.s-content-item-album {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.s-main-item-album {
    display: flex;
    position: absolute;
    width: 210px;
    height: 210px;
    /*transform: translate(0,-8%);*/
}

.s-item-album {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

/* button*/
.s-button-play-item {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #9e50e7;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0);
}

.s-button-play-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    width: 100%;
    height: 100%;
}

.s-button-play-item::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.s-button-play-item:hover.s-button-play-item::after {
    content: "";
    display: flex;
    width: 21%;
    height: 21%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
}

.s-button-play-item .fa-play {
    display: none;
    font-size: 10px;
    z-index: 3;
    transition: all 0.2s;
}

.s-button-play-item:hover.s-button-play-item .fa-play {
    display: flex;
    font-size: 16px;
    z-index: 3;
    position: absolute;
    left: 51%;
    transform: translate(-50%, 0);
    transition: all 0.2s;
}
/*End button*/

/* Title items */
.s-title-play-items {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 10px 0px;
    line-height: 1.5em;
}

.s-title-play-items>a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s;
    color: #fff;
}

.s-title-play-items>a:hover {
    color: #6e55b4;
}

/*End title*/
/*img items*/
.s-img-play-items {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}
.s-img-play-items img {
    max-width: 210px;
    overflow: hidden;
    transition: all 1.2s;
}

/*End img items*/
.s-item-album-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*boder all items*/
/*Hover img*/
.s-item-album-all:hover .s-img-play-items>img {
    transition: all 1.5s;
    transform: scale(1.1);
}

/*End hover img*/
/* Test title*/
.s-title-play-items:hover .s-item-album-all .s-img-play-items img {
    transition: all 1.5s;
    transform: scale(1.1);
}
.s-content-item-album.s-title-play-items:hover.s-button-play-item::after {
    content: "";
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
}

.s-title-play-items:hover .fa-play {
    display: flex;
    font-size: 19px;
    z-index: 3;
    transition: all 0.2s;
}

.s-title-play-items:hover .s-button-play-item {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}
.s-artist-items a{
    text-decoration: none;
    color: #a0a0a0;
    font-size: 14px;
}
.s-artist-items a:hover{
    transition: all .2s;
    color: #6e55b4;
}
/*End test Title*/