.s-content-section-7 {
    border-radius: 3px;
    background-color: #232323;
    margin: 15px;
}
.s-title-all-themes-of-kind {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px 42px;
    transition: all 0.4s ease-in-out;  
}
.s-select-kind-mu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    line-height: 2em;
    transition: all 0.4s ease-in-out;  
}
.s-select-kind-mu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #a0a0a0;
    cursor: pointer;
}
.s-title-theme-of-kind a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}
.s-title-theme-of-kind a:hover {
    color: #9877ff;
}
.s-img-of-item-kind-music {
    display: grid; 
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;  
}
.s-img-of-item-kind-music a{
    transition: all 0.4s ease-in-out; 
}
.s-img-of-item-kind-music a img{
    overflow: hidden;
    max-width: 210px;
    border-radius: 3px;
}
.s-content-kind-music {
    display: none;
    position: relative;
    grid-template-columns: repeat(4,minmax(auto,210px));
    grid-template-rows: repeat(2,minmax(auto,auto));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 20px 30px 28px 30px;
}
.s-content-kind-music.s-kind-m-active{
    display: grid;
    transition: all 0.5s ease-in-out;
}
.s-content-items-kind-music{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: relative;
    transition: all 0.4s ease-in-out;  
}
.s-title-of-item-kind-music {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    width: 100.5%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(to bottom,rgba(72,72,72,0),rgba(72,72,72,0.3),rgba(72,72,72,0.5),rgba(72,72,72,0.7),rgba(72,72,72,0.9),rgba(72,72,72,1));
    border-radius: 3px;
}
.s-title-of-item-kind-music a {
    grid-column: 2/3;
    grid-row: 2/3;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #fcfcfc;
    position: absolute;
    transition: all 0.4s ease-in-out;
    transform: translate(0, -10px);
}
.s-content-items-kind-music:hover .s-img-of-item-kind-music a {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;  
}
.s-content-items-kind-music:hover .s-title-of-item-kind-music a {
    transform: translate(0, -15px);
}
.s-select-kind-mu a:hover{
    color: #9877ff;
}
.s-select-active a{
    color: #9877ff;
}
.s-select-themes-default a{
    color: #9877ff;
}
.s-button-conten {
    display: grid;
    grid-template-columns: 1fr;
}