<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" type="image/png" href="../../img/logo-mp-3.png">
    <title>Menu</title>
</head>

<body>
    <div class="s-content-menu">
        <div class="s-main-muti-sub-menu">
            <div class="s-muti-sub-menu">
                <div class="s-content-muti-sub-menu">
                    <a href="#" class="s-sub-menu-title">Đề xuất</a>
                    <ul class="s-nav-muti-menu">
                        <li class=""><a href="#">Nhạc HOT</a></li>
                        <li class=""><a href="#">Những bài HITs</a></li>
                        <li class=""><a href="#">Nhạc Việt Bất Hủ</a></li>
                        <li class=""><a href="#">Nhạc Bất Hủ Âu</a></li>
                        <li class=""><a href="#">K-POP HITs</a></li>
                        <li class=""><a href="#">Nhạc Thúy Nga</a></li>
                    </ul>
                </div>
            </div>
            <div class="s-muti-sub-menu">
                <div class="s-content-muti-sub-menu">
                    <a href="#" class="s-sub-menu-title">Thể loại</a>
                    <ul class="s-nav-muti-menu">
                        <li class=""><a href="#">EDM</a></li>
                        <li class=""><a href="#">Acoutic</a></li>
                        <li class=""><a href="#">Indie</a></li>
                        <li class=""><a href="#">Nhạc Không Lời</a></li>
                        <li class=""><a href="#">Trữ Tình & Bolero</a></li>
                    </ul>
                </div>
            </div>
            <div class="s-muti-sub-menu">
                <div class="s-content-muti-sub-menu">
                    <a href="#" class="s-sub-menu-title">Tâm trạng</a>
                    <ul class="s-nav-muti-menu">
                        <li class=""><a href="#">Những Ngày Mưa</a></li>
                        <li class=""><a href="#">Buồn</a></li>
                        <li class=""><a href="#">Tình Yêu</a></li>
                        <li class=""><a href="#">Thư Giãn</a></li>
                        <li class=""><a href="#">Động Lực</a></li>
                    </ul>
                </div>
            </div>
            <div class="s-muti-sub-menu">
                <div class="s-content-muti-sub-menu">
                    <a href="#" class="s-sub-menu-title">Hoạt động</a>
                    <ul class="s-nav-muti-menu">
                        <li class=""><a href="#">Làm Việc</a></li>
                        <li class=""><a href="#">Yoga</a></li>
                        <li class=""><a href="#">Cà Phê</a></li>
                        <li class=""><a href="#">Cuối Tuần</a></li>
                        <li class=""><a href="#">Tiệc Tùng</a></li>
                        <li class=""><a href="#">Du Lịch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>