<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zing MP3 | Nghe tải nhạc chất lượng cao trên desktop, mobile và TV</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./mp3layout.css">
    <link rel="shortcut icon" type="image/png" href="./img/logo-mp-3.png">
    <link rel="stylesheet" href="./font/fontawesome-free-5.9.0-web/css/all.css">
    <link rel="stylesheet" href="./css/menu.css">
    <link rel="stylesheet" href="./css/logo.css">
    <link rel="stylesheet" href="./css/s-search.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/dropdown-user.css">
    <link rel="stylesheet" href="./css/slide.css">
    <link rel="stylesheet" href="./css/mini-slide.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script defer src="./js/controll.js"></script>
    <script defer src="./font/fontawesome-free-5.9.0-web/js/all.js"></script>
    <link href="./font/fontawesome-free-5.9.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="./font/fontawesome-free-5.9.0-web/css/brands.css" rel="stylesheet">
    <link href="./font/fontawesome-free-5.9.0-web/css/solid.css" rel="stylesheet">
    <style>

    </style>
</head>

<body id="s-body">
    <header class="s-header">
        <div class="s-left-header"></div>
        <div class="s-header-content">
            <div class="s-logo">
                <img src="./img/logo.svg" alt="">
            </div>
            <div class="s-search">
                <div class="s-content-search">
                    <form action="#" id="s-form" style="position: relative">
                        <label for="s-search-items"><i class="fa fa-search"></i></label>
                        <input type="search" name="s-search" id="s-search-items"
                            placeholder="Nhập tên bài hát, ca sĩ hoặc mv...">
                        <div class="s-search-data">
                            <p>Từ khóa hot</p>
                            <ul>
                                <li><a href="#">Lọ lem</a></li>
                                <li><a href="#">Sóng gió</a></li>
                                <li><a href="#">Cần xa</a></li>
                                <li><a href="#">#Zingchart</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="s-login">
                <img src="./img/info.jpg" alt="">
                <div class="s-login-info">
                    <div class="s-login-name">
                        <a href="#">Su Su</a>
                    </div>
                    <div class="s-login-account">
                        <a href="#">Tài khoản thường</a>
                    </div>
                </div>
                <div class="s-arrow-login">
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="s-user-dropdown">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-user-circle"></i><span>Nhạc Cá Nhân</span></a>
                            
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-sign-out-alt"></i><span>Đăng Xuất</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-sun"></i><span>Nền Tối</span>
                                <input type="checkbox" name="" class="checkbox on" >
                            </a>      
                        </li>
                    </ul>
                    <div class="s-shop-vip">
                        <a href="#">Mua VIP ngay</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="s-right-header"></div>

        <div class="s-left-menu"></div>
        <div class="s-menu">
            <div class="s-content-menu">
                <div class="s-main-menu">
                    <div class="s-main-menu-inner">
                        <ul class="s-nav-menu">
                            <li class="has-submenu">
                                <a href="#">Trang chủ</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#">#Zingchart</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">#Zingchart</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Bài hát</a></li>
                                                    <li class=""><a href="#">MV</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Tuần</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Bài hát</a></li>
                                                    <li class=""><a href="#">MV</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Us-uk Chart</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Bài hát</a></li>
                                                    <li class=""><a href="#">MV</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Kpop Chart</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Bài hát</a></li>
                                                    <li class=""><a href="#">MV</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="has-submenu">
                                <a href="#">Top 100</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Việt Nam</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Nhạc Trẻ</a></li>
                                                    <li class=""><a href="#">Nhạc Trữ Tình</a></li>
                                                    <li class=""><a href="#">Nhạc Quê Hương</a></li>
                                                    <li class=""><a href="#">Nhạc Cách Mạng</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop Việt</a></li>
                                                    <li class=""><a href="#">Rock Việt</a></li>
                                                    <li class=""><a href="#">Dance Việt</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Âu Mỹ</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">POP</a></li>
                                                    <li class=""><a href="#">Rock</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop</a></li>
                                                    <li class=""><a href="#">Country</a></li>
                                                    <li class=""><a href="#">Electronic / Dance</a></li>
                                                    <li class=""><a href="#">R&B / Soul</a></li>
                                                    <li class=""><a href="#">Audiophile</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Châu á</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Hàn Quốc</a></li>
                                                    <li class=""><a href="#">Nhật Bản</a></li>
                                                    <li class=""><a href="#">Châu Ngữ</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Hòa Tấu</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Classical</a></li>
                                                    <li class=""><a href="#">Piano</a></li>
                                                    <li class=""><a href="#">Guitar</a></li>
                                                    <li class=""><a href="#">Violin</a></li>
                                                    <li class=""><a href="#">Cello</a></li>
                                                    <li class=""><a href="#">Saxophone</a></li>
                                                    <li class=""><a href="#">Nhạc Cụ Khác</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#">Chủ đề</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Đề Xuất</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Nhạc HOT</a></li>
                                                    <li class=""><a href="#">Những bài HITs</a></li>
                                                    <li class=""><a href="#">Nhạc Việt Bất Hủ</a></li>
                                                    <li class=""><a href="#">Nhạc Bất Hủ Âu</a></li>
                                                    <li class=""><a href="#">K-POP HITs</a></li>
                                                    <li class=""><a href="#">Nhạc Thúy Nga</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Thể Loại</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">EDM</a></li>
                                                    <li class=""><a href="#">Acoutic</a></li>
                                                    <li class=""><a href="#">Indie</a></li>
                                                    <li class=""><a href="#">Nhạc Không Lời</a></li>
                                                    <li class=""><a href="#">Trữ Tình & Bolero</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Tâm Trạng</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Những Ngày Mưa</a></li>
                                                    <li class=""><a href="#">Buồn</a></li>
                                                    <li class=""><a href="#">Tình Yêu</a></li>
                                                    <li class=""><a href="#">Thư Giãn</a></li>
                                                    <li class=""><a href="#">Động Lực</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Hoạt Động</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Làm Việc</a></li>
                                                    <li class=""><a href="#">Yoga</a></li>
                                                    <li class=""><a href="#">Cà Phê</a></li>
                                                    <li class=""><a href="#">Cuối Tuần</a></li>
                                                    <li class=""><a href="#">Tiệc Tùng</a></li>
                                                    <li class=""><a href="#">Du Lịch</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#">MV</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Việt Nam</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Nhạc Trẻ</a></li>
                                                    <li class=""><a href="#">Nhạc Trữ Tình</a></li>
                                                    <li class=""><a href="#">Dance Việt</a></li>
                                                    <li class=""><a href="#">Rock Việt</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop Việt</a></li>
                                                    <li class=""><a href="#">Nhạc Trịnh</a></li>
                                                    <li class=""><a href="#">Nhạc Thiếu Nhi</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Âu Mỹ</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">POP</a></li>
                                                    <li class=""><a href="#">Rock</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop</a></li>
                                                    <li class=""><a href="#">Country</a></li>
                                                    <li class=""><a href="#">Electronic / Dance</a></li>
                                                    <li class=""><a href="#">R&B / Soul</a></li>
                                                    <li class=""><a href="#">Audiophile</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Châu á</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Hàn Quốc</a></li>
                                                    <li class=""><a href="#">Nhật Bản</a></li>
                                                    <li class=""><a href="#">Châu Ngữ</a></li>
                                                    <li class=""><a href="#">Thái Lan</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Hòa Tấu</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Classical</a></li>
                                                    <li class=""><a href="#">Piano</a></li>
                                                    <li class=""><a href="#">Guitar</a></li>
                                                    <li class=""><a href="#">Violin</a></li>
                                                    <li class=""><a href="#">Cello</a></li>
                                                    <li class=""><a href="#">Saxophone</a></li>
                                                    <li class=""><a href="#">Nhạc Cụ Dân Tộc</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#">ALBUM</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Việt Nam</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Nhạc Trẻ</a></li>
                                                    <li class=""><a href="#">Nhạc Trữ Tình</a></li>
                                                    <li class=""><a href="#">Dance Việt</a></li>
                                                    <li class=""><a href="#">Rock Việt</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop Việt</a></li>
                                                    <li class=""><a href="#">Nhạc Trịnh</a></li>
                                                    <li class=""><a href="#">Nhạc Thiếu Nhi</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Âu Mỹ</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">POP</a></li>
                                                    <li class=""><a href="#">Rock</a></li>
                                                    <li class=""><a href="#">Rap / Hip Hop</a></li>
                                                    <li class=""><a href="#">Country</a></li>
                                                    <li class=""><a href="#">Electronic / Dance</a></li>
                                                    <li class=""><a href="#">R&B / Soul</a></li>
                                                    <li class=""><a href="#">Audiophile</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Châu á</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Hàn Quốc</a></li>
                                                    <li class=""><a href="#">Nhật Bản</a></li>
                                                    <li class=""><a href="#">Châu Ngữ</a></li>
                                                    <li class=""><a href="#">Thái Lan</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Hòa Tấu</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Classical</a></li>
                                                    <li class=""><a href="#">Piano</a></li>
                                                    <li class=""><a href="#">Guitar</a></li>
                                                    <li class=""><a href="#">Violin</a></li>
                                                    <li class=""><a href="#">Cello</a></li>
                                                    <li class=""><a href="#">Saxophone</a></li>
                                                    <li class=""><a href="#">Nhạc Cụ Dân Tộc</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#">Nghệ sĩ</a>
                                <div class="section-submenu">
                                    <div class="s-main-muti-sub-menu">
                                        <div class="s-muti-sub-menu">
                                            <div class="s-content-muti-sub-menu">
                                                <a href="#" class="s-sub-menu-title">Đề xuất</a>
                                                <ul class="s-nav-muti-menu">
                                                    <li class=""><a href="#">Hàn Quốc</a></li>
                                                    <li class=""><a href="#">Nhật Bản</a></li>
                                                    <li class=""><a href="#">Châu Ngữ</a></li>
                                                    <li class=""><a href="#">Thái Lan</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-submenu">
                                <a href="#">Nhạc cá nhân</a>
                                <!-- muti menu
                                        <div class="section-submenu">
                                            <div class="s-main-muti-sub-menu">
                                                <div class="s-muti-sub-menu">
                                                    <div class="s-content-muti-sub-menu">
                                                        <a href="#" class="s-sub-menu-title">Đề xuất</a>
                                                        <ul class="s-nav-muti-menu">
                                                            <li class=""><a href="#">Nhạc HOT</a></li>
                                                            <li class=""><a href="#">Những bài HITs</a></li>
                                                            <li class=""><a href="#">Nhạc Việt Bất Hủ</a></li>
                                                            <li class=""><a href="#">Nhạc Bất Hủ Âu</a></li>
                                                            <li class=""><a href="#">K-POP HITs</a></li>
                                                            <li class=""><a href="#">Nhạc Thúy Nga</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    -->
                            </li>
                            <li class="has-submenu">
                                <a href="#">Vip</a>
                                <!-- Muti menu
                                        <div class="section-submenu">
                                            <div class="s-main-muti-sub-menu">
                                                <div class="s-muti-sub-menu">
                                                    <div class="s-content-muti-sub-menu">
                                                        <a href="#" class="s-sub-menu-title">Đề xuất</a>
                                                        <ul class="s-nav-muti-menu">
                                                            <li class=""><a href="#">Nhạc HOT</a></li>
                                                            <li class=""><a href="#">Những bài HITs</a></li>
                                                            <li class=""><a href="#">Nhạc Việt Bất Hủ</a></li>
                                                            <li class=""><a href="#">Nhạc Bất Hủ Âu</a></li>
                                                            <li class=""><a href="#">K-POP HITs</a></li>
                                                            <li class=""><a href="#">Nhạc Thúy Nga</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-right-menu"></div>

    </header>
    <main class="s-main">
        <div class="s-left-main"></div>
        <div class="s-main-colum2">
            <section class="s-main-section-1">
                <div class="s-main-slide">
                    <div class="s-slide-content">
                        <a href="#" class="s-slides"><img src="./img/slide-0.jpg"></a>
                        <a href="#" class="s-slides"><img src="./img/slide-1.jpg"></a>
                        <a href="#" class="s-slides"><img src="./img/slide-2.jpg"></a>
                        <a href="#" class="s-slides"><img src="./img/slide-3.jpg"></a>
                        <a href="#" class="s-slides"><img src="./img/slide-4.jpg"></a>
                        <div class="s-slide-center">
                            <div class="s-slide-section">
                                <button class="s-slides-button s-slides-light-grey s-slides-left"
                                    onclick="plusDivs(-1)"> ❮ </button>
                                <button class="s-slides-button s-slides-light-grey s-slides-right"
                                    onclick="plusDivs(1)"> ❯ </button>
                            </div>
                            <div class="s-slides-button-list">
                                <a href="#" class="s-nuber-slide" onclick="currentDiv(1)"><img
                                        src="./img/button0.jpg"></a>
                                <a href="#" class="s-nuber-slide " onclick="currentDiv(2)"><img
                                        src="./img/button1.jpg"></a>
                                <a href="#" class="s-nuber-slide" onclick="currentDiv(3)"><img
                                        src="./img/button2.jpg"></a>
                                <a href="#" class="s-nuber-slide" onclick="currentDiv(4)"><img
                                        src="./img/button3.jpg"></a>
                                <a href="#" class="s-nuber-slide" onclick="currentDiv(5)"><img
                                        src="./img/button4.jpg"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="s-main-section-2">
                <div class="s-title-mini-slide">
                    <span>Có Thể Bạn Muốn Nghe ❯ </span>
                </div>
                <div class="s-slide-all-content">
                    <div class="s-slide-all">
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-1.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Châu Khải Phong</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Châu Khải Phong</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-2.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Khắc Việt</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Khắc Việt</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-4.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Minh Vương</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Minh Vương</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-5.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Alan Walker</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Alan Walker</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="s-mini-slides" style="position: absolute">
                    <div class="s-next-left-mini-slide s-mini-slides-button"><button
                            class="s-mini-slides-button s-mini-slides-left" onclick="plusDivsMini(-1)"> ❮ </button>
                    </div>
                    <div class="s-next-right-mini-slide s-mini-slides-button">
                        <button class="s-mini-slides-button s-mini-slides-right" onclick="plusDivsMini(-1)"> ❯ </button>
                    </div>
                </div>

            </section>
            <section class="s-main-section-3">
                <div class="s-title-mini-slide">
                    <span>Playlist Gần Đây ❯ </span>
                </div>
                <div class="s-slide-all-content">
                    <div class="s-slide-all">
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-6.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Phan Đinh Tùng</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Phan Đinh Tùng</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-7.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Tokyo Square</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Tokyo Square</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-8.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Wanbi Tuấn Anh</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Wanbi Tuấn Anh</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/ngheganday/slide-9.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Bài Hát Hay Nhất Của Thùy Chi</a>
                            </div>
                            <div class="s-artist-items">
                                <a href="#">Thùy Chi</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="s-mini-slides" style="position: absolute">
                    <div class="s-next-left-mini-slide s-mini-slides-button"><button
                            class="s-mini-slides-button s-mini-slides-left" onclick="plusDivsMini(-1)"> ❮ </button>
                    </div>
                    <div class="s-next-right-mini-slide s-mini-slides-button">
                        <button class="s-mini-slides-button s-mini-slides-right" onclick="plusDivsMini(-1)"> ❯ </button>
                    </div>
                </div>
            </section>
            <section class="s-main-section-4">
                <div class="s-title-mini-slide">
                    <span>Cảm Xúc Tình Yêu ❯ </span>
                </div>
                <div class="s-slide-all-content">
                    <div class="s-slide-all">
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/tinhyeu-1.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Crazy In Love</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/tinhyeu-2.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Ngọt Như Được Yêu</a>
                            </div>

                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/tinhyeu-3.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Những Cảm Xúc Khi Yêu</a>
                            </div>
                        </div>
                        <div class="s-content-item-album">
                            <div class="s-item-album-all">
                                <div class="s-img-play-items">
                                    <img src="./img/mini-slide/tinhyeu-4.jpg" alt="">
                                </div>
                                <div class="s-main-item-album">
                                    <div class="s-item-album">
                                        <a href="#" class="s-button-play-item">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="s-title-play-items">
                                <a href="#">Trái Tim Em Là Anh</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="s-mini-slides" style="position: absolute">
                    <div class="s-next-left-mini-slide s-mini-slides-button"><button
                            class="s-mini-slides-button s-mini-slides-left" onclick="plusDivsMini(-1)"> ❮ </button>
                    </div>
                    <div class="s-next-right-mini-slide s-mini-slides-button">
                        <button class="s-mini-slides-button s-mini-slides-right" onclick="plusDivsMini(-1)"> ❯ </button>
                    </div>
                </div>
            </section>
            <section class="s-main-section-5">section 1</section>
            <section class="s-main-section-6">section 1</section>
        </div>
        <div class="s-right-main"></div>
    </main>

    <footer>
        <div class="s-letf-footer"></div>
        <div class="s-footer-colum2">
            <div class="s-logo-footer">
                <img src="./img/logo-mp-3.png" alt="logo">
                <span>Một sản phẩm của Zalo</span>
            </div>
            <div class="s-footer-list-info">
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li>
                        <div>•</div>
                    </li>
                    <li><a href="#">Liên hệ</a></li>
                    <li>
                        <div>•</div>
                    </li>
                    <li><a href="#">Quảng cáo</a></li>
                    <li>
                        <div>•</div>
                    </li>
                    <li><a href="#">Góp ý</a></li>
                    <li>
                        <div>•</div>
                    </li>
                    <li><a href="#">Thỏa thuận sử dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="s-right-footer"></div>
    </footer>
    <script>

    </script>
</body>

</html>