<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Button</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="s-button-conten">
        <div class="s-button">
            <a href="#" class="s-button-play">
                <i class="fas fa-play"></i>
                <span>Nghe tất cả</span>
            </a>
        </div>
    </div>
    <div class="s-button-conten">
        <div class="s-button">
            <a href="#" class="s-button-play">
                <i class="fas fa-play"></i>
                <span>Nghe tất cả</span>
            </a>
        </div>
    </div>
</body>
</html>