<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./album-item.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../../img/logo-mp-3.png">
    <title>Album item</title>
</head>

<body>
    <div class="s-content-item-album">
        <div class="s-item-album-all">
            <div class="s-img-play-items">
                <img src="../../img/Hinh-anh-dep-girl.jpg" alt="">
            </div>
            <div class="s-main-item-album">
                <div class="s-item-album">
                    <a href="#" class="s-button-play-item">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="s-title-play-items">
            <a href="#">Power Move Power Move Power Move</a>
        </div>
    </div>
</body>

</html>